<ion-header>

  <ion-navbar *ngIf="!is_update_req" transparent>
    <ion-title >Add Review</ion-title>
  </ion-navbar>

   <ion-navbar color="danger" *ngIf="is_update_req" transparent>
    <ion-title  >Update Review</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()" icon-only><ion-icon name="close">
      </ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<form #Form="ngForm" (ngSubmit)="save()" >
    <ion-item>
      <ion-label floating>Route Number</ion-label>
      <ion-input readonly [(ngModel)]="routeNo" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Review</ion-label>
      <ion-textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-range min="0" max="10" pin="true" [(ngModel)]="rating" [ngModelOptions]="{standalone: true}" required>
        <ion-icon range-left name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    
  <button  *ngIf="!is_update_req" ion-button [disabled]="!Form.form.valid || rating === 0" ion-button full color="secondary">Save
  </button>

  <button  *ngIf="is_update_req" ion-button [disabled]="!Form.form.valid || rating === 0" ion-button full color="danger">Update
  </button>
    
</form>
</ion-content>
