page-available-root {

 .search-routes{
   background-color:#4DF266     ;
   height:80%;
 }

  .search-routes ion-list{
    background-color:#4DF266    ;
  }

  .search-routes ion-list ion-item{
    background-color: #4DF266    ;
  }
  .search-area ion-item ion-input{
    width: 80%;
  }

  .directed-route  ion-avatar {
       background-color: #007aff;
  }
  .directed-route{
    background-color: azure;
  }
}
