<script src="available-root.ts"></script>
<ion-header>
  <ion-toolbar>
  <div class="search-routes">

    <ion-grid>
      <ion-list inset>
    <ion-row>
      <ion-col col-9>
        <ion-item>
      <ion-input [(ngModel)]="p1" type="text" placeholder="Start Station" (input)="getp1($event)">
      </ion-input>
        </ion-item>
        <!--<ion-searchbar [(ngModel)]="p1"(ionInput)="getp1($event)"
        </ion-searchbar>-->
      </ion-col>

      <ion-col col-3>
      <ion-buttons end>
        <button ion-button (click)="clearp1()" icon-only clear><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
      </ion-col>
    </ion-row>

        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-input [(ngModel)]="p2" type="text" placeholder="End Station" (input)="getp2($event)">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col col-3>
            <ion-buttons end>
              <button ion-button (click)="clearp2()" icon-only clear><ion-icon name="close"></ion-icon></button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>

    <ion-buttons>
      <button ion-button full clear (click)="findWay()" icon-only><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
    </div>


  </ion-toolbar>


</ion-header>

<ion-content>


  <!--show available roots-->
<div *ngIf="typeNotOccured">

  <!--show direct routes-->
  <ion-list>
    <ion-list-header>
      Directed Routes- Suggestions
    </ion-list-header>

  <ion-card class="directed-route"tappable (click)="showDirectRoute(root)" *ngFor="let root of availableRoutes">
    <ion-item>
      <ion-avatar item-left>
        <h1>D</h1>
      </ion-avatar>
      <h2>Route No: {{root.name}} / {{root.start}}-{{root.end}}</h2>
    </ion-item>
  </ion-card>
  </ion-list>


  <!--show connected routes-->


  <ion-list>
    <ion-list-header>
      Connected Routes - Suggestions
    </ion-list-header>

    <ion-card *ngFor="let root of connected_routes">
    
    <ion-card-header>
        
    </ion-card-header>

    <ion-list>
    <ion-item>
      <ion-icon name="bus" item-left></ion-icon>
      <ion-badge color="dark">{{root.n1}}</ion-badge>
    </ion-item>

    <ion-item>
    <ion-grid>
      <ion-row *ngFor="let row of root.r1_list">
        <ion-col col-md-3 *ngFor="let station of row">
          <ion-badge>{{station}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>

    <ion-item>
      <ion-icon color="danger" name="hand" item-left></ion-icon>
      <div class="subtitle">connecting station</div>
      <ion-badge color="dark">{{root.con}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="bus" item-left></ion-icon>
      <ion-badge color="dark">{{root.n2}}</ion-badge>
    </ion-item>

    <ion-item>
    <ion-grid>
      <ion-row *ngFor="let row of root.r2_list">
        <ion-col col-md-3 *ngFor="let station of row">
          <ion-badge>{{station}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
    </ion-list>

  </ion-card>
  </ion-list>


</div>


  <div *ngIf="searchQueryp1">
    <ion-item item-left>
      <button ion-button clear (click)=getMyLocation()>
        <ion-icon name="pin"></ion-icon>
        My Location
      </button>
    </ion-item>
    <ion-list class="suggestions">



      <ion-item *ngFor="let station of p1_stations">
        <ion-buttons>
          <button color="dark" ion-button clear (click)="setvalp1(station.station_name)" >{{ station.station_name }}</button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="searchQueryp2">
    <ion-item item-left>
      <button ion-button clear (click)=getMyLocation()>
        <ion-icon name="pin"></ion-icon>
        My Location
      </button>
    </ion-item>
    <ion-list class="suggestions">



      <ion-item *ngFor="let station of p2_stations">
        <ion-buttons>
          <button color="dark" ion-button clear  (click)="setvalp2(station.station_name)" >{{ station.station_name }}</button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>



</ion-content>
