page-available-root {
 .search-routes{
   background-color: #2ec95c;
 }

  .search-routes ion-list{
    background-color: #2ec95c;
  }

  .search-routes ion-list ion-item{
    background-color: #2ec95c;
  }
  .search-area ion-item ion-input{
    width: 80%;
  }
}
