page-available-root {
 .search-routes{
   background-color: #2ec95c;
   height:80%;
 }

  .search-routes ion-list{
    background-color: #2ec95c;
  }

  .search-routes ion-list ion-item{
    background-color: #2ec95c;
  }
  .search-area ion-item ion-input{
    width: 80%;
  }

  .directed-route  ion-avatar {
       background-color: #007aff;
  }
  .directed-route{
    background-color: azure;
  }
}
