<script src="available-root.ts"></script>
<ion-header>
  <ion-toolbar >
  <div class="search-routes">

    <ion-grid>
      <ion-list inset>
    <ion-row>
      <ion-col col-9>
        <ion-item>
      <ion-input [(ngModel)]="p1" type="text" placeholder="Start Station" (input)="getp1($event)">
      </ion-input>
        </ion-item>
        <!--<ion-searchbar [(ngModel)]="p1"(ionInput)="getp1($event)"
        </ion-searchbar>-->
      </ion-col>

      <ion-col col-3>
      <ion-buttons end>
        <button ion-button (click)="clearp1()" icon-only clear><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
      </ion-col>
    </ion-row>

        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-input [(ngModel)]="p2" type="text" placeholder="End Station" (input)="getp2($event)">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col col-3>
            <ion-buttons end>
              <button ion-button (click)="clearp2()" icon-only clear><ion-icon name="close"></ion-icon></button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>

    <ion-buttons>
      <button ion-button full clear (click)="findWay()" icon-only><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
    </div>


  </ion-toolbar>


</ion-header>

<ion-content>


  <!--show available roots-->
<div *ngIf="typeNotOccured">

  <!--show direct routes-->
  <ion-list>
    <ion-list-header>
      Directed Routes- Suggestions
    </ion-list-header>
  <ion-card class="directed-route"tappable (click)="showDirectRoute(root)" *ngFor="let root of availableRoutes">
    <ion-item>
      <ion-avatar item-left>
        <h1>D</h1>
      </ion-avatar>
      <h2>Route No: {{root.name}} / {{root.path[0]}}-{{root.path[root.path.length-1]}}</h2>
    </ion-item>
  </ion-card>
  </ion-list>
  <!--show connected routes-->


  <ion-list>
    <ion-list-header>
      Connected Routes
    </ion-list-header>
  <ion-card class="connected-route" *ngFor="let root of connected_routes">
    <ion-item>
      <ion-avatar item-left>
        <h1>C</h1>
      </ion-avatar>
    </ion-item>

    <img class="header" src="http://placehold.it/500x100"/>
    <p class="root-title">{{root.r1_list}}</p>
    <label>Connecting point:</label>
    <p class="root-title">{{root.con}}</p>
    <p class="root-title">{{root.r2_list}}</p>


  </ion-card>
  </ion-list>
</div>


  <div *ngIf="searchQueryp1">
    <ion-list class="suggestions">
      <ion-item *ngFor="let station of p1_stations">
        <ion-buttons>
          <button color="dark" ion-button clear full (click)="setvalp1(station.name)" >{{ station.name }}</button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>

  <div  *ngIf="searchQueryp2">
    <ion-list class="suggestions">
      <ion-item *ngFor="let station of p2_stations">
        <ion-buttons>
          <button color="dark" ion-button clear full (click)="setvalp2(station.name)" >{{ station.name }}</button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>



</ion-content>
