<ion-header>
  <ion-toolbar color="primary">
    <div class="route-search">
      <ion-searchbar placeholder="Enter Route Number (eg:100)" (input)="getItems($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="searchQuery">
  <ion-list class="suggestions">
    <ion-item *ngFor="let item of items">
      <ion-buttons>
      <button color="dark" ion-button clear full (click)="searchBus(item.name)">{{ item.name }}</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
