<ion-header>
  <ion-toolbar transparent>
   <!-- <div class="route-search">
      <ion-searchbar placeholder="Enter Route Number (eg:100)" (input)="getItems($event)"></ion-searchbar>
    </div>-->
    <ion-buttons end>
      <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<ion-content>
  <!--<div  *ngIf="searchQuery">
    <ion-list class="suggestions">
      <ion-item *ngFor="let item of items">
        <ion-buttons>
          <button color="dark" ion-button clear full (click)="searchBus(item.name)">{{ item.name }}</button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
-->
<!-- <ion-list no-lines>
    <ion-item-sliding *ngFor="let review of reviews">
      <ion-item>

        <p>{{review.description}}</p>

        <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
        <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon>
        {{review.rating}}

      </ion-item>
        <button ion-button color="danger" (click)="deleteReview(review)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

</ion-list> -->

<ion-card (press)="pressEvent($event)" *ngFor="let review of reviews">
<ion-item>
    <ion-avatar item-left>
    <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
    <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon>
    </ion-avatar>
    {{review.rating}}
    <h2>{{review.user}}</h2>
    <p>{{review.created_at}}</p>
  </ion-item>
  <ion-card-content>
    <p>{{review.description}}</p>
  </ion-card-content>  
</ion-card>>

</ion-content>
